---
layout: primary
---

<div class="news-page">
    <div class="headline">
        <p class="super-headline"><i>Written: {{ date | date: "%b %d, %Y"}}</i></p>
        <h2>{{ title }}</h2>
    </div>

{{ content }}

</div>